<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MyTrophyCase</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <!-- Le styles -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="assets/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>
    <div class="navbar navbar-fixed-top"> 
        <div class="navbar-inner">
        	<div class="container">
          		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</a>
          
<!--TODO: right now going to the builder page, but need to eventually change this -->
          		<a class="brand" href="builder.html">LeapTrax</a>
          
          		<div class="nav-collapse">
              		<ul class="nav">
                		<li><a href="#">Search</a></li>
<!--                     <li class="active"><a href="RaceReport.html"><i class="icon-folder-open icon-white"></i> Claim</a></li> -->
                    <li class="active"><a href="RaceReport.html">Claim</a></li>
                		<li><a href="#contact">View</a></li>
                		<li><button type="submit" class="btn pull-right" id="test-Button">Test-Env</button></li>
                		<li><button type="submit" class="btn pull-right" id="test-Button2">Del</button></li>
              		</ul>
            	</div><!--/.nav-collapse -->
      	   </div>
        </div>
    </div>
      
    <!-- seems like standard bootstrap - where everything is held, but I need to go back and check -->
  <div class="container">

    <%= yield %>

	</div>

</body>
</html>
